db
incremental_db
simulation
work
sha256_test.cr.mti
sha256_test.mpf
sha256-test.cr.mti
sha256-test.mpf
simplified_sha256.qpf
simplified_sha256.qsf
simplified_sha256.qws
tb_simplified_sha256.sv.bak
simplified_sha256.sv.bak
vsim.wlf
output_files/simplified_sha256.done
output_files/simplified_sha256.fit.smsg
output_files/simplified_sha256.jdi
output_files/simplified_sha256.map.rpt
output_files/simplified_sha256.map.smsg
output_files/simplified_sha256.sld
output_files/simplified_sha256.sof
output_files/simplified_sha256.sta.summary
output_files/simplified_sha256.flow.rpt
output_files/simplified_sha256.pin
output_files/simplified_sha256.asm.rpt
output_files/simplified_sha256.eda.rpt